* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Arial, sans-serif;
}
.title {
  padding: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid gray;
  font-size: 30px;
}
.title a {
  text-decoration: none;
  color: black;
}
.editPassword-container {
  margin-top: 20px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}
.editPassword-container h2 {
  margin-bottom: 20px;
}
#editPasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editPassword-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.textInput {
  margin-top: 20px;
  width: 100%;
  text-align: start;
  font-weight: bold;
}
#editButton {
  width: 100%;
  padding: 10px;
  background-color: '#ACAOEB';
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.login {
  margin-top: 15px;
  font-size: 10px;
}
.login a {
  text-decoration: none;
  color: black;
}

.error-message {
  display: none;
  width: 100%;
  text-align: start;
  font-size: 10px;
  color: red;
}
.error-on {
  display: block;
}
.active {
  background-color: pink;
  color: white;
}
