* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Arial, sans-serif;
}
.title {
  padding: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid gray;
  font-size: 30px;
}
.title a {
  text-decoration: none;
  color: black;
}
.login-container {
  margin-top: 10%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}
.login-container h2 {
  margin-bottom: 20px;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
#loginButton {
  width: 100%;
  padding: 10px;
  background-color: '#ACAOEB';
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.active {
  background-color: pink;
  color: white;
}
.signup {
  margin-top: 15px;
  font-size: 10px;
}
.signup a {
  text-decoration: none;
  color: black;
}
.error-message {
  display: none;
  text-align: start;
  font-size: 10px;
  color: red;
}
.error-on {
  display: block;
}
